<!DOCTYPE html>


<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head >
<!--    <meta charset="UTF-8">-->
    <title>PATHAM FIRE SERVICE</title>
    <div th:insert="~{headerdocument::header}">

    </div>
    <script th:src="@{/javascript/invoice.js}"></script>
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->

<!--    <link rel="stylesheet" th:href="@{/css/header.css}">-->
<!--    <link rel="stylesheet" th:href="@{/css/invoice.css}">-->

<!--    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
<!--    <script th:src="@{/javascript/invoice.js}"></script>-->


<!--    &lt;!&ndash;<link rel="stylesheet" th:href="@{/Css/font-awesome.min.css}">&ndash;&gt;-->

<!--    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>-->

</head>
<body>
<div th:insert="~{header::header}"></div>
<div class="container_invoice">
    <div class="container_line-1">
         <h1>Invoices</h1>

         <input type="button" value="Add Invoice" class="btn btn btn-primary add" data-toggle="modal" ><br>
        <div class="container_line-2">
            <div class="container_line-2_row">
                <p class="container_line-2_p-1">
                    Show</p>
                <select class="form-control container_line-2_row-limit" >

                    <option value="5">5</option>
                    <option value="7">7</option>
                    <option value="10" selected>10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <p class="container_line-2_p-2">
                    entries</p>
            <div class="search">
                <label for="search" class="search_label">Search:</label>
                <input type="text" class="form-control search_input" >
            </div>
        </div>

        <div class="container_invoice_table">


            <table class="table table-bordered table-striped  mytable ">

            <thead class="table-light">
            <tr>
                <th>Sr.No</th>
                <th>Invoice date</th>
                <th>Item</th>
                <th>Payment Status</th>
                <th >Actions</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="a,iStat:${invoice.content}">

                <td th:text="${iStat.count}"></td>
                <td th:text="${a.date}"></td>
                <td th:text="${a.item}"></td>
                <td th:text="${a.payment}" ></td>
               <td id="action_links">
                    <a th:href="@{/fireservice/editinvoice(id=${a.id})}" data-toggle="tooltip" data-placement="left" title="Edit Invoice" class="mybadge_edit badge-info ">
                        <i class="fa fa-pencil edit_icon" aria-hidden="true"></i>
                    </a>
                    <a th:href="@{/fireservice/delete(customer=${a.id})}" data-toggle="tooltip" data-placement="left" title="Delete Invoice" class="mybadge_delete badge-danger">
                        <i class="fa fa-trash delete_icon" aria-hidden="true"></i>
                    </a>
                   <a th:href="@{/fireservice/pdf(id=${a.id})}" data-toggle="tooltip"  data-placement="right" title="View" class="mybadge_pdf badge-secondary">
<!--                       <i class="fa fa-file pdf_icon" aria-hidden="true"></i>-->
                       <i class="fa fa-eye pdf_icon" aria-hidden="true"></i>
                   </a>



                </td>
            </tr>

            </tbody>


        </table>

           <!-- <hr/>
            <ul class="nav nav-pills">
                <li class="nav-item"
                  th:each="i : ${#numbers.sequence(0,data.totalPages-1)}">
                    <a th:href="@{/(page=${i})}" th:text="${i}" class="nav-link"></a>
                </li>
            </ul>-->
            <div class="pagination-div">
                <!--<span th:if="${invoice.hasPrevious()}">
                    <a th:href="@{/invoice(page=${invoice.number-1},size=${invoice.size})}">Previous</a>
                </span>-->
                            <th:block th:each="i: ${#numbers.sequence(0, invoice.totalPages - 1)}" class="block">
                                <span th:if="${invoice.number == i}" class="myselected bg-primary">[[${i}+1]]</span>
                                <span th:unless="${invoice.number == i}">
                                      <a th:href="@{invoice(page=${i},size=${invoice.size})}" class="mypagination " >[[${i}+1]]</a>
                                </span>
                            </th:block>
                            <!--<span th:if="${invoice.hasNext()}">
                    <a th:href="@{invoice(page=${invoice.number+1},size=${invoice.size})}">Next</a>
                </span>-->
            </div>
            <div>
                <!-- Modal for add and edit invoice -->
                <div class="modal fade"  id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog " style="max-width:1250px;" role="document">
                        <div class="modal-content " >
                            <div class="modal-header add_invoice_header">
                                <h4 class="modal-title" id="exampleModalLabel">Add Invoice</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" style="margin-left:50px;max-width:1250px;">
                                <form action="#" th:action="@{savecust}"  class="myform" method="post">
                                    <div class="div-0">
                                        <input type="hidden" name="i_id" class="form-control">
                                        <label>Invoice Date : <span>*</span></label>
                                        <input type="date" name="date" class="form-control col-3">
                                    </div>
                                    <br>
                                    <div class="div-1">
                                        <label class="div-1_label">Bank : <span>*</span></label>
                                        <div class=" div-1_radio-1">
                                            <input class="form-check-input" type="radio" name="exampleRadios" value="BOB" checked>
                                            <label class="form-check-label" for="exampleRadios1">
                                                BOB
                                            </label>
                                        </div>
                                        <div class=" div-1_radio-2">
                                            <input class="form-check-input" type="radio" name="exampleRadios"  value="GPB">
                                            <label class="form-check-label" for="exampleRadios2">
                                                GPB
                                            </label>
                                        </div>
                                    </div>
                                    <div class="div-3">
                                        <label class="div-3_label">Clients : <span>*</span></label>

                                        <select class="form-control div-3_select">
<!--                                            <option selected value="8">8</option>-->
<!--                                            <option value="10">10</option>-->
<!--                                            <option value="25">25</option>-->
<!--                                            <option value="50"> 50</option>-->

                                            <option th:each="user : ${client}"
                                                    th:value="${user.id}"
                                                    th:selected="${user.isSelected(selectedid)}"
                                                    th:text="${user.c_name}">
                                            </option>
                                        </select>

                                    </div>
                                    <hr class="rule">
                                    <div class="div-4">
                                        <label class="div-4_label">Description : <span>*</span></label>
                                        <table class="div-4_table">
                                            <thead>
                                                <tr>
                                                    <th class="div-4_star">*</th>
                                                    <th>ITEM</th>
                                                    <th>HSN/SAC</th>
                                                    <th>CAPACITY</th>
                                                    <th>RATE</th>
                                                    <th>NOS</th>
                                                    <th>AMOUNT</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" class="mycheckbox" >
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control div-4_item" >
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control code" >
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control capacity" >
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control rate" >
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control nos" >
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control amount" >
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="div-5">
                                        <label class="div-5_label">Payment Status: <span>*</span></label>
                                        <div class=" div-5_radio-1">
                                            <input class="form-check-input" type="radio" name="exampleRadios1"  value="Paid By Cheque" checked>
                                            <label class="form-check-label" for="exampleRadios1">
                                                Paid By Cheque
                                            </label>
                                        </div>
                                        <div class=" div-5_radio-2">
                                            <input class="form-check-input" type="radio" name="exampleRadios1"  value="Successful Online Transfer">
                                            <label class="form-check-label" for="exampleRadios2">
                                               Successful Online Transfer
                                            </label>
                                        </div>

                                        <div class=" div-5_radio-3">
                                            <input class="form-check-input" type="radio" name="exampleRadios1"  value="Paid in Cash">
                                            <label class="form-check-label" for="exampleRadios3">
                                                Paid in Cash
                                            </label>
                                        </div>

                                        <div class=" div-5_radio-4">
                                            <input class="form-check-input" type="radio" name="exampleRadios1"  value="Pending">
                                            <label class="form-check-label" for="exampleRadios4">
                                                Pending
                                            </label>
                                        </div>

                                    </div>
                                   <!-- <label>Customer Contact</label>
                                    <input type="text" th:field="*{contact}" class="form-control col-5">
                                    <br>
                                    <input type="submit" class="btn btn-outline-dark" value="Add Customer">
                                    <a th:href="@{init}" class="btn btn-outline-primary">
                                        Back
                                    </a>-->

                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <input type="button" class="btn btn-primary save"  value="Save"/>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Delete Modal-->
                <div class="modal fade"  id="delete_invoice" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-md"  role="document">
                        <div class="modal-content " >
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLabel1">Delete Invoice</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" style="margin-left:50px;max-width:1250px;">
                                <form action="#" th:action="@{delete_invoice}"  class="delete_myform" method="post">
                                    <div class=" alert alert-danger">
                                        <!--<label>Invoice Date : <span>*</span></label>
                                        <input type="date" name="date" class="form-control col-5">-->
                                        Are you sure you want to delete invoice id <label class="invoice_id"></label> .
                                    </div>
                                    <input type="hidden" name="delete_id" class="delete_id">
                                </form>
                            </div>
                            <div class="modal-footer delete_footer">
                                <button type="button" class="btn btn-secondary delete_close" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-danger delete_btn">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

</body>
</html>